#backgroundColor {
    background-color: rgb(171, 219, 255);
  }

#mainNavigation{
    background-color: rgb(207, 121, 36);
    text-align: center;
    margin: 5px;
}

#mainNavigation li:hover{
    background-color: rgb(115, 159, 222);

}

#mainNavigation li a{
    display: inline-block;
    position: relative;
    text-decoration: none;
}


#mainNavigation ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

#mainNavigation ul ul {
    display: none;
    position: absolute;
    text-decoration: none;
}